node_modules
public/hot
public/storage
public/users/photo_*
storage/*.key
vendor
.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess
.ftpconfig
google9f4b5746cc141806.html
